package layout

templ Header() {
	<header class="flex flex-col justify-between items-start text-center align-top w-full mx-auto m-2">
		<section class="">
			<nav class="">
				<div class="hover:text-green-600 dark:hover:text-green-500 text-black dark:text-white text-lg font-bold font-sans m-2">
					<button type="button" class="font-bold rounded text-xl decoration-none" tabindex="0" id="toggleTheme">
						🌞
					</button>
					<a href="/" class="hover:underline">guray.me</a>
				</div>
			</nav>
		</section>
	</header>
}
